* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
@font-face {
  font-family: "yuji mai";
  src: url("font/yujimai-regular-webfont.woff2") format("woff2"),
    url("font/yujimai-regular-webfont.woff") format("woff");
}
body {
  font: 18px/36px "yuji mai", cursive;
  background-color: wheat;
  line-height: 1;
}
h1 {
  font-size: 80px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 5px 3px white;
  color: antiquewhite;
}
.container {
  width: 600px;
  background-color: antiquewhite;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 3px 3px rgb(230, 189, 140);
  border-radius: 5px;
}
ul.gallery {
  list-style: none;
}
.gallery li {
  width: 120px;
  height: 120px;
  border: 5px solid rgb(230, 189, 140);
  float: left;
  margin-right: 20px;
  position: relative;
}
.gallery li,
.gallery li img,
.gallery li span {
  border-radius: 50%;
}
.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  font-size: 15px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: salmon;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.3s;
}
.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}
